<div class="carousel">
	<ol class="carousel-indicators" ng-show="slides.length > 1">
		<li ng-repeat="slide in slides" ng-class="{'active':isSlide($index)}" ng-click="setSlide($index);"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item slide-animation" ng-class="{'active':isSlide($index)}" ng-repeat="slide in slides" ng-swipe-right="next()" ng-swipe-left="prev()" ng-hide="!isSlide($index)">
			<img class="img-responsive" ng-src="http://nhadat.com/thumb.php?w=650&h=650&t=m&src={{slide}}" alt="" />
			<div class="price" ng-if="rent" ng-bind-html="rent|rentify|unsafe"></div>
			<div class="price" ng-if="!rent" ng-show="price" ng-bind-html="price|pricify|unsafe"></div>
		</div>
	</div>
	<a class="carousel-control left" ng-click="next()" ng-show="slides.length > 1">
		<span class="icon-prev"></span>
	</a>
	<a class="carousel-control right" ng-click="prev()" ng-show="slides.length > 1">
		<span class="icon-next"></span>
	</a>
</div>