<div class="comments" ng-show="item.comments">
	<div>
		<strong ng-if="item.social.comment">{{item.comments.length}}</strong><strong ng-if="!item.social.comment">Chưa có</strong> trao đổi
	</div>
	<div class="content">
		<div class="comment" ng-repeat="c in item.comments" ng-show="c.name">
			<div ng-bind-html="c.comment|unsafe"></div>
			<small class="datetime">
			<span><b>{{c.name}}</b></span>
			<span ng-show="c.location">{{c.location}}</span>
			<span ng-show="c.time">{{c.time}}</span>
			</small>
		</div>
	</div>
</div>
<div id="share">
	<div class="content">
		<form>
			<textarea id="comment" auto-grow ng-model="form.comment" class="form-control" rows="3" placeholder="{{placeholder}}" required></textarea>
			<div class="submit">
				<div class="media">
					<span class="pull-left"><button ng-click="submit(item.id)" class="btn btn-primary">Đăng</button></span>
				</div>
			</div>
		</form>
	</div>
</div>