<div class="column" ng-controller="CommentsCtrl">
	<div class="dropdown pull-right">
		<a class="dropdown-toggle"><i class="icon-chevron-down"></i></a>
		<ul class="dropdown-menu">
			<li ng-show="user.idu==item.user.id">
				<a><i class="icon-pencil"></i> Sửa tin</a>
			</li>
			<li ng-show="user.idu==item.user.id">
				<a remove="{{item.id}}"><i class="icon-trash"></i> Xóa tin</a>
			</li>
			<li ng-hide="user.idu==item.user.id">
				<a report="{{item.id}}"><i class="icon-bug"></i> Báo cáo vi phạm</a>
			</li>
		</ul>
	</div>
	<div class="feed">
		<div class="user">
			<a class="pull-left" ng-href="#/profile/{{item.user.username}}.html" title="{{item.user.name}}">
			<img ng-src="{{item.user.image}}" alt="" /></a>
			<div class="name">
				<div><a ng-href="#/profile/{{item.user.username}}.html" title="{{item.user.name}}">
					<b>{{item.user.name}}</b>
				</a></div>
				<div class="datetime">trao đổi <span ng-show="item.image.length">{{item.image.length}} hình</span><span ng-show="item.video.length">{{item.video.length}} clip</span><span ng-show="item.attach.length">{{item.attach.length}} file</span><span>{{item.time}}</span></div>
			</div>
		</div>
		<div class="video" ng-repeat="v in item.video" ng-hide ng-show="item.video">
			<video width="100%" height="240" controls>
				<source ng-src="http://192.241.221.27/{{v}}" type="video/mp4">
			</video>
		</div>
		<div ng-if="item.image" class="image">
			<carousel slides="item.image"></carousel>
		</div>
		<div class="tag" ng-show="item.tags">
			<a ng-repeat="(k,v) in item.tags" class="btn btn-tag" href="#/tag/{{k}}.html">{{v}}</a>
		</div>
		<div class="message" ng-bind-html="item.message|linky|fixbr|unsafe">
		</div>
		<div class="attach" ng-hide ng-show="item.attach">
			<div ng-repeat="f in item.attach">
				<i class="icon-paper-clip"></i> <a href="http://192.241.221.27/uploads/media/{{f}}" title="{{f}}" target="_blank">{{f}}</a>
			</div>
		</div>
		<div class="column likeshare">
			<div class="one-third" ng-click="item.social.liked=item.social.liked+1" like="{{item.id}}">
				<a ng-class="{'active':item.social.liked>0}"><i class="icon-thumbs-up"></i></a> <span ng-show="item.social.like">{{item.social.like}}</span>
			</div>
			<div class="one-third">
				<a ng-class="{'active':item.social.commented>0}"><i class="icon-comment"></i></a> <span ng-show="item.social.comment">{{item.social.comment}}</span>
			</div>
			<!--div class="one-third">
				<a ng-class="{'active':item.social.shared>0}" shared=""><i class="icon-share"></i> <span ng-show="item.social.share">{{item.social.share}}</span></a>
			</div-->
		</div>
	</div>

	<div class="comments" ng-show="item.comments">
		<div>
			<strong ng-if="item.social.comment">{{item.comments.length}}</strong><strong ng-if="!item.social.comment">Chưa có</strong> trao đổi<span ng-show="!login"><a ng-href="#/login.html" title="Đăng nhập"> Đăng nhập</a> để trao đổi</span>
		</div>
		<div class="content">
			<div class="comment" ng-repeat="c in item.comments" ng-show="c.name">
				<div ng-bind-html="c.comment|unsafe"></div>
				<small class="datetime">
				<span><b>{{c.name}}</b></span>
				<span ng-show="c.location">{{c.location}}</span>
				<span ng-show="c.time">{{c.time}}</span>
				</small>
			</div>
		</div>
	</div>
	<div id="share">
		<div class="content">
			<form ng-submit="submit(item.id)">
				<textarea id="comment" auto-grow ng-disabled="!login" ng-model="form.comment" class="form-control" rows="3" placeholder="Trao đổi của bạn?"></textarea>
				<div class="submit">
					<div class="media">
						<span class="pull-left"><button ng-disabled="!login" class="btn btn-primary">Đăng</button></span>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>