<div class="container-fluid" ng-controller="ContactCtrl">
	<div id="contact" class="contact">
		<form class="content" ng-submit="submit()">
			<h4>Bạn hãy nhập tên và số điện thoại chính xác để chúng tôi có thể trả lời</h4>
			<div class="form-group">
				<input class="form-control" type="text" name="fullname" placeholder="Tên liên hệ" ng-model="form.fullname" ng-disabled="disabled" required />
			</div>
			<div class="form-group">
				<input class="form-control" type="text" name="email" placeholder="Email hoặc Số điện thoại" ng-model="form.email" ng-disabled="disabled" required />
			</div>
			<div class="form-group">
				<textarea class="form-control" rows="5" placeholder="Nội dung..." ng-model="form.message" ng-disabled="disabled" required></textarea>
			</div>
			<div class="form-group">
				<label class="control-label">Mục liên hệ</label>
				<select class="form-control" multiple="multiple" ng-model="form.select" ng-disabled="disabled" required>
					<option value="Liên hệ">Liên hệ</option>
					<option value="Góp ý">Góp ý</option>
					<option value="Báo lỗi">Báo lỗi</option>
					<option value="Khác">Khác</option>
				</select>
			</div>
			<div class="form-group">
				<button ng-disabled="disabled" type="submit" class="btn btn-primary">Gởi</button>
			</div>
		</form>
	</div>
</div>