<div class="container-fluid">
	<div class="contact" ng-controller="NewPasswordCtrl">
		<form role="form">
			<br/>
			<input type="hidden" ng-init="form.current = ''" />
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="icon-key"></i></span>
					<input class="form-control" type="password" placeholder="Đặt mật khẩu mới" ng-model="form.password" />
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="icon-key"></i></span>
					<input class="form-control" type="password" placeholder="Nhập lại mật khẩu mới" ng-model="form.repassword" />
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-primary" ng-click="update()">Lưu mật khẩu</button>
			</div>
		</form>
	</div>
</div>