<div id="share" ng-controller="SaleCtrl">
	<form role="form">
		<div ng-switch="CurrentStep()">
			<div ng-switch-when="one">
				<div class="content">
					<input type="hidden" ng-init="form.type = ('realestate')" />
					<input type="hidden" ng-init="form.tag = ([])" />
					<textarea auto-grow ng-disabled="!login" ng-model="form.message" class="form-control" rows="5" placeholder="Cần bán hoặc cho thuê nhà... (rao như cách bạn rao vặt trên báo)" required></textarea>
					<uploader action="http://192.241.221.27/api/upload.html"></uploader>
				</div>
			</div>
			<div ng-switch-when="two">
				<div class="form-group">
					<div class="money">
						<input type="number" class="form-control" ng-maxlength="16" ng-model="form.price" placeholder="Giá bán hay giá sang mặt bằng" />
						<div ng-show="form.price">{{form.price|vndong}}</div>
					</div>
				</div>
				<div class="form-group">
					<div class="money">
						<input type="number" class="form-control" ng-maxlength="16" class="form-control" ng-model="form.rent" placeholder="Giá thuê mỗi tháng" />
						<div ng-show="form.rent">{{form.rent|vndong}}/tháng</div>
					</div>
				</div>
				<div class="form-group">
					<p class="help-block">
					Khi sang mặt bằng bạn có thể nhập cả giá chuyển nhượng ban đầu lẫn tiền thuê hàng tháng vào 2 ô ở trên. Tất cả tính bằng tiền đồng và tính cho cả căn.
					</p>
				</div>
			</div>
			<div ng-switch-when="three">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="form.address" ng-change="suggests()" placeholder="Địa chỉ (khu nhà ở) hay phường xã, ..." />
					<div ng-show="results">
						<div>
							Xin chọn địa danh hay tên hành chính đúng nhất (nếu không có, xin chọn mục "Không tìm thấy"):
						</div>
						<div class="loading" ng-show='busy'></div>
						<div class="location">
							<div class="radio">
								<label>
									<input type="radio" name="local" />
									Không tìm thấy
								</label>
							</div>
							<div class="radio" ng-repeat="k in results">
								<label>
									<input ng-click="gmap(k)" type="radio" name="local" />
									{{k.long_name}}
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-switch-when="four">
				<div class="form-group">
					<div class="media">
						<div class="pull-left">
							Xác định vị trí BĐS
							<br />
							trên bản đồ
						</div>
						<div class="pull-right">
							<button class="btn btn-primary" ng-click="checkin()">Lấy vị trí hiện tại</button>
						</div>
					</div>
					<div id="gmap" class="fullscreen">
						<div class="google-map"
							center="center"
							zoom="zoom"
							markers="markers"
							latitude="latitude"
							longitude="longitude"
							mark-click="true"
							draggable="true"
						fit="false"></div>
					</div>
				</div>
				<div class="form-group">
					<p class="help-block">
					Xin bấm lên bản đồ để chỉ định vị trí của bất động sản. Bạn có thể chọn đi chọn lại cho đến khi chính xác nhất rồi bấm "Tiếp theo".
					</p>
				</div>
			</div>
			<div ng-switch-when="five">
				<div class="form-group">Xin hãy chọn những cụm từ mô tả mục rao của bạn:</div>
				<div ng-show="tags">
					<button ng-repeat="k in tags" class="btn btn-tag" ng-class="{'active':form.tag.indexOf(k) > -1}" ng-click="toggle(k)"
					>{{k}}
					</button>
				</div>
			</div>
			<div ng-switch-when="six">
				<div class="flash">
					<div class="alert alert-info">
						Xem trước và xác nhận trước khi đăng tin. Để sửa đổi bấm nút "Trở lại" ở cuối trang.
					</div>
				</div>
				<div class="form-group">
					<div ng-hide ng-show="form.images" class="image">
						<carousel slides="form.image" rent="form.rent" price="form.price"></carousel>
					</div>
				</div>
				<div class="group">
					<div class="form-group">
						<div class="message" ng-bind-html="form.message|unsafe"></div>
					</div>
					<div class="form-group">
						<div ng-show="tags">
							<button ng-repeat="k in form.tag" class="btn btn-tag">{{k}}</button>
						</div>
						<div class="address">
							<div>{{form.address}}</div>
						</div>
						<div id="gmap" ng-hide ng-show="map">
							<div class="google-map"
								center="center"
								zoom="zoom"
								markers="markers"
								latitude="latitude"
								longitude="longitude"
								mark-click="false"
								draggable="false"
							fit="false"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group btn-share">
			<div class="pull-right">
				<a class="btn btn-default btn-medium" ng-click="Previous()" ng-show="!isFirstStep()"> <i class="icon-arrow-left"></i>
				Trở lại
				</a>
				<a class="btn btn-primary btn-medium" ng-click="Next()">
				{{Label()}} <i class="icon-arrow-right"></i>
				</a>
			</div>
		</div>
		<br class="clearfix" />
	</form>
</div>