<div class="group">
	<div class="container-fluid">
		<div ng-switch on="item.type">
			<div class="map-marker" ng-switch-when="city"><i class="vietnam"></i></div>
			<div class="map-marker" ng-switch-when="group"><i class="icon-map-marker"></i></div>
			<div class="map-marker" ng-switch-when="topic"><i class="icon-key"></i></div>
		</div>
		<h1>{{item.name}}</h1>
		<p ng-if="item.long_name" ng-bind-html="item.long_name|unsafe"></p>
		<div class="by center" ng-if="item.by_name"><em>Địa danh được tạo đầu tiên bởi {{item.by_name}}.</em>
		<!--br />
		<button class="btn btn-xs btn-default">RAO BÁN<br />tại {{item.name}}</button> <button class="btn btn-xs btn-default">TRAO ĐỔI<br /> về {{item.name}}</button-->
		</div>
		<div class="tag" ng-show="item.tags">
			<a ng-repeat="(k,v) in item.tags" class="btn btn-tag" ng-href="/t/{{k}}.html">{{v}}</a>
		</div>
		<div class="like" follow="{{item.slug}}">
			<a ng-class="{'active':item.followed}"><i class="icon-thumbs-up"></i></a>{{item.follows}} theo dõi
		</div>
		<div class="tag" ng-show="item.locals">
			<a ng-repeat="(k,v) in item.locals" class="btn btn-tag" ng-href="/t/{{k}}.html">{{v}}</a>
		</div>
		<div class="address" ng-if="item.local">
			<span ng-if="item.address">{{item.address}}, </span>{{item.local}}
		</div>
		<div id="gmap" ng-if="item.map">
			<div class="google-map"
				center="position.coords"
				zoom="zoom"
				markers="markers"
				latitude="latitude"
				longitude="longitude"
				events="events"
				mark-click="false"
				draggable="false"
				fit="true">
			</div>
		</div>
	</div>
</div>
<classifieds></classifieds>