<div class="slider" ng-controller="SliderCtrl">
	<div class="content carousel">
		<ol class="carousel-indicators" ng-show="slides.length > 1">
			<li ng-repeat="item in slides" ng-class="{'active':isSlide($index)}" ng-click="setSlide($index);"></li>
		</ol>
		<div class="carousel-inner">
			<div class="item slide-animation" ng-class="{'active':isSlide($index)}" ng-repeat="item in slides" ng-swipe-right="next()" ng-swipe-left="prev()" ng-hide="!isSlide($index)">
				<a go-click="/{{item.type}}/{{item.id}}.html">
				<img class="img-responsive" ng-src="http://static.nhadat.com/640/media/{{item.img}}" alt="" /></a>
				<div class="price" ng-if="item.meta.rent" ng-bind-html="item.meta.rent|rentify|unsafe"></div>
				<div class="price" ng-if="!item.meta.rent" ng-show="item.meta.price" ng-bind-html="item.meta.price|pricify|unsafe"></div>
			</div>
		</div>
		<a class="carousel-control left" ng-click="prev()" ng-show="slides.length > 1"><span class="icon-prev"></span></a>
		<a class="carousel-control right" ng-click="next()" ng-show="slides.length > 1"><span class="icon-next"></span></a>
	</div>
</div>
<div class="container-fluid" ng-controller="FollowCtrl">
	<div class="follows">
		<h5 class="uppercase">ĐƯỢC TÌM KIẾM NHIỀU NHẤT TRÊN GOOGLE:</h5>
		<div class="content">
			<div ng-show="follows.city">
				<h5>Tỉnh thành</h5>
				<p>
				<a ng-repeat="tag in follows.city" class="btn btn-tag" go-click="/t/{{tag.slug}}.html">{{tag.name}}</a>
				</p>
			</div>
			<div ng-show="follows.group">
				<h5>Địa danh</h5>
				<p>
				<a ng-repeat="tag in follows.group" class="btn btn-tag" go-click="/t/{{tag.slug}}.html">{{tag.name}}</a>
				</p>
			</div>
			<div ng-show="follows.topic">
				<h5>Chủ đề</h5>
				<p>
				<a ng-repeat="tag in follows.topic" class="btn btn-tag" go-click="/t/{{tag.slug}}.html">{{tag.name}}</a>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- /Follows -->
<div class="classifieds" ng-controller="ClassifiedCtrl">
	<h5 class="uppercase center">Chọn nội dung hiển thị</h5>
	<div class="column center">
		<div class="one-half">
			<button class="btn" ng-class="{'active':isRealEstate}" ng-click="isRealEstate = isSwitch(isRealEstate)">
			<span class="badge pull-right" ng-bind="stats.realestate"></span>
			Mục rao
			</button>
		</div>
		<div class="one-half">
			<button class="btn" ng-class="{'active':isStatus}" ng-click="isStatus = isSwitch(isStatus)">
			<span class="badge pull-right" ng-bind="stats.status"></span>
			Trao đổi
			</button>
		</div>
	</div>
	<div infinite-scroll='results.nextPage()' infinite-scroll-disabled='results.busy' infinite-scroll-distance='1'>
		<div class="column content" ng-repeat="item in results.items">
			<div class="dropdown pull-right">
				<a class="dropdown-toggle"><i class="icon icon-chevron-down"></i></a>
				<ul class="dropdown-menu">
					<li ng-show="user.idu==item.user.id">
						<a remove="{{item.id}}"><i class="icon icon-trash"></i> Xóa tin</a>
					</li>
					<li ng-hide="user.idu==item.user.id">
						<a report="{{item.id}}"><i class="icon icon-bug"></i> Báo cáo vi phạm</a>
					</li>
				</ul>
			</div>
			<div ng-switch on="item.type">
				<div ng-switch-when="realestate" ng-show="isRealEstate">
					<div class="feed">
						<div class="user">
							<a class="pull-left" ng-if="!item.user.username" go-click="/profile/{{item.user.id}}.html">
							<img ng-src="http://static.nhadat.com/{{item.user.image}}" alt="" />
							</a>
							<a class="pull-left" ng-if="item.user.username" go-click="/profile/{{item.user.username}}.html">
							<img ng-src="http://static.nhadat.com/{{item.user.image}}" alt="" />
							</a>
							<div class="name">
								<div>
									<a ng-if="item.user.username" go-click="/profile/{{item.user.username}}.html" title="{{item.user.name}}"> <b>{{item.user.name}}</b>
									</a>
									<a ng-if="!item.user.username" go-click="/profile/{{item.user.id}}.html" title="{{item.user.name}}"> <b>{{item.user.name}}</b>
									</a>
								</div>
								<div class="datetime">
									đăng <span ng-show="item.image.length">{{item.image.length}} hình</span>
									<span ng-show="item.video.length">{{item.video.length}} clip</span>
									<span ng-show="item.attach.length">{{item.attach.length}} file</span>
									<span>{{item.time}}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix">
						<div class="one-half lazy loading" lazy-loading-class="loading" lazy-loaded-class="loaded" lazy-background="'http://static.nhadat.com/'+ item.img">
							<div class="image">
								<a go-click="/p/{{item.link}}.html">
								<img ng-src="http://static.nhadat.com/blank.gif" alt="" class="square" />
								</a>
								<div class="tags">
									<a ng-repeat="(tag,name) in item.tag" ng-if="tag" class="label btn-tag" go-click="/t/{{tag}}.html">{{name| characters:16}}</a>
								</div>
								<div class="price" ng-if="item.meta.rent" ng-bind-html="item.meta.rent|rentify|unsafe"></div>
								<div class="price" ng-if="!item.meta.rent" ng-show="item.meta.price" ng-bind-html="item.meta.price|pricify|unsafe"></div>
							</div>
						</div>
						<div class="one-half">
							<div class="text" go-click="/p/{{item.link}}.html">
								<div ng-bind-html="item.text|characters:64|unsafe"></div>
								<small class="address" ng-show="item.meta.local">{{item.meta.local| characters:48}}</small>
							</div>
							<div class="info">
								<div class="agent">
									<a ng-show="item.user.username" go-click="/profile/{{item.user.username}}.html" title="{{item.user.name}}">
									<img ng-src="http://static.nhadat.com/{{item.user.image}}" alt="{{item.user.name}}" /> <b>{{item.user.name}}</b>
									</a>
									<span ng-show="!item.user.username" >{{item.user.name}}</span>
								</div>
								<div class="callsms">
									<a class="btn-call" href="tel:{{item.user.phone}}">Gọi</a>
									<a class="btn-sms" href="sms:{{item.user.phone}}">Nhắn tin</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- / ng-switch then="realestate" -->
				<div ng-switch-when="status" ng-show="isStatus">
					<div class="feed">
						<div class="user">
							<a class="pull-left" ng-if="!item.user.username" go-click="/profile/{{item.user.id}}.html">
							<img ng-src="http://static.nhadat.com/{{item.user.image}}" alt="" />
							</a>
							<a class="pull-left" ng-if="item.user.username" go-click="/profile/{{item.user.username}}.html">
							<img ng-src="http://static.nhadat.com/{{item.user.image}}" alt="" />
							</a>
							<div class="name">
								<div>
									<a ng-if="item.user.username" go-click="/profile/{{item.user.username}}.html" title="{{item.user.name}}"> <b>{{item.user.name}}</b>
									</a>
									<a ng-if="!item.user.username" go-click="/profile/{{item.user.id}}.html" title="{{item.user.name}}"> <b>{{item.user.name}}</b>
									</a>
								</div>
								<div class="datetime">
									trao đổi <span ng-show="item.image.length">{{item.image.length}} hình</span>
									<span ng-show="item.video.length">{{item.video.length}} clip</span>
									<span ng-show="item.attach.length">{{item.attach.length}} file</span>
									<span>{{item.time}}</span>
								</div>
							</div>
						</div>
						<div class="image" ng-hide ng-if="item.image[0]">
							<a go-click="/c/{{item.link}}.html">
							<img ng-src="http://static.nhadat.com/640/media/{{item.image[0]}}" alt="{{item.title}}" />
							</a>
						</div>
						<div class="video" ng-hide ng-if="item.video[0]">
							<!--video width="100%" height="240" controls>
						<source ng-src="{{item.video[0]}}" type="video/mp4"></video-->
					</div>
					<div class="message" ng-bind-html="item.text|words:30|fixbr|bbcode|unsafe"  go-click="/c/{{item.link}}.html"></div>
					<div class="attach" ng-hide ng-if="item.attach[0]">
						<div ng-repeat="file in item.attach"> <i class="icon icon-paper-clip"></i>
							<a href="/uploads/media/{{file}}" title="{{file}}" target="_blank">{{file}}</a>
						</div>
					</div>
					<div class="message" ng-if="item.tag.length">
						<a ng-repeat="(k,v) in item.tag" class="btn btn-tag" href="/t/{{k}}.html">{{v}}</a>
					</div>
					<div class="column likeshare">
						<div class="one-third" like="{{item.id}}">
							<a ng-class="{'active':item.social.liked>0}">
							<i class="icon icon-thumbs-up"></i></a>
							<span ng-show="item.social.like">{{item.social.like}}</span>
						</div>
						<div class="one-third">
							<a ng-class="{'active':item.social.commented>0}" go-click="/c/{{item.link}}.html"><i class="icon icon-comment"></i></a> <span ng-show="item.social.comment">{{item.social.comment}}</span>
						</div>
					</div>
				</div>
			</div>
			<!-- / ng-switch then="status" -->
		</div>
		<!-- / ng-switch -->
	</div>
	<div class="loading" ng-show='results.busy'></div>
	<div class="center" ng-show='results.end'>
		<h4>Không tìm thấy kết quả nào khác nữa.</h4>
	</div>
</div>
</div>
<!-- /Classifieds -->