<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nhadat.app" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
	<name>Nhà Đất</name>
	<description>
		Mạng xã hội mua bán Nhà Đất
	</description>
	<author email="cskh@nhadat.com" href="http://nhadat.com">
		Nha Dat Team
	</author>
	<icon src="res/icon.png" />
    <access origin="*" />
	<content src="index.html" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
	<icon gap:platform="winphone" src="res/icon/winphone/icon-48.png" />
	<icon gap:platform="winphone" gap:role="background" src="res/icon/winphone/icon-173.png" />
	<gap:splash gap:platform="winphone" src="res/screen/winphone/screen-portrait.jpg" />
</widget>